node_modules
build
tmp
archive
typechain
src/_generated
archive
yarn-error.log
dist
*.cache.*
*.tmp.*
.dotnugg-cache


.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
